<header>
    <ul class="nav_bar">
        <li class="nav_item logo"><a  href="{{url_for('home')}}"><img class="logo_image" src="{{url_for('static',filename='img/camera-icon.png')}}">Photogram</a></li>
        <li class="nav_item"><a  href="{{url_for('logout')}}">Logout</a></li>
        <li class="nav_item"><a  href="{{url_for('myprofile')}}">My Profile</a></li>   
        <li class="nav_item"><a  href="{{url_for('explore')}}">Explore</a></li>   
        <li class="nav_item"><a  href="{{url_for('home')}}">Home</a></li>
       

       
    </ul>
</header>