{%extends 'base.html'%}
{% block title %}
Photogram
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="./static/css/home.css">
    <link rel="stylesheet" type="text/css" href="./static/css/signup.css">
{%endblock%}
{%block main%}
    <div id="project2">
        <header-app></header-app>
        <h2 class="title">New Post</h2>
        <form id=postform >
             <table class="postinformation">
              <tr>
                  <h4><label for="photo">Photo</label></h4>
                      <input id="photo" name="photo" type="file">
              </tr>
              <tr>
                  <h4><label for="caption">Caption</label></h4>
                  <textarea id="caption" name="caption" placeholder="Write a caption..."></textarea>
              </tr>
              <tr>
                  <br>
                  <button type="submit" class="color_light_green submit_btn2">Submit</button>
              </tr>
             </table>
        </form>
    </div>
{%endblock%}