{%extends 'base.html' %}
{% block title %}
Register
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="./static/css/signup.css">
{% endblock %}
{% block main %}
    <form class="signupform">
        <table class="userinformation">
              <tr>
                  <h4>{{form.username.label}}</h4>
                  {{form.username(id="username")}}
              </tr>
              <tr>
                  <h4>{{form.password.label}}</h4>
                  {{form.password(id="password")}}
              </tr>
              <tr>
                  <h4>{{form.firstname.label}}</h4>
                  {{form.firstname(id="firstname")}}
              </tr>
              <tr>
                  <h4>{{form.lastname.label}}</h4>
                  {{form.lastname(id="lastname")}}
              </tr>
              <tr>
                  <h4>{{form.email.label}}</h4>
                  {{form.email(id="email")}}
              </tr>
              <tr>
                  <h4>{{form.location.label}}</h4>
                  {{form.location(id="location")}}
              </tr>
              <tr>
                  <h4>{{form.biography.label}}</h4>
                  {{form.biography(id="bio")}}
              </tr>
              <tr>
                  <h4>{{form.photo.label}}</h4>
                      {{form.photo(id="photo")}}
                      <br>
              </tr>
              <tr>
                  <button id="register" type="button" @click="register" class="color_green submit_btn">Register</button>
              </tr>
    </form>
{% endblock %}